<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{bootstrap/page-base-wide}"
		data-show-page-login-state="public"
		th:with="title='component.base-page.anchor.title'">

<body>

	<div layout:fragment="base-content" th:remove="tag">
		<div th:replace="~{bootstrap/components :: paragraph('component.base-page.anchor.paragraph', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-noButtonLook}, 'anchor (isButtonLook=false)', 'component.base-page.anchor.anchor.noButtonLook.paragraph', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-buttonLook}, 'anchor (isButtonLook=true)', 'component.base-page.anchor.anchor.buttonLook.paragraph', '')}"></div>
	</div>

	<div th:fragment="box-noButtonLook" th:remove="tag">
		<div th:replace="~{bootstrap/components :: paragraphWithSubtitle('arguments', 'component.arguments.common.paragraph', '')}"></div>
		<table class="table table-striped text-nowrap table-bordered">
			<tr th:replace="~{bootstrap/components :: staticTableHeaderWithLine(${ {'引数', '型', '説明'} }, '')}"></tr>
			<tr th:replace="~{bootstrap/components :: staticTableBodyWithLines(${ {
					{ 'href', 'string', '遷移先のURL を指定' },
					{ 'label', 'string', '表示するラベルを指定。messages.properties の key が存在する場合はその値が、存在しない場合はそのまま表示される。' },
					{ 'isButtonLook', 'boolean', 'ボタンのような見た目にするかを指定。true / false を指定' },
					{ 'options', 'string', 'options を指定' }
			} }, '')}"></tr>
		</table>
		<div th:replace="~{bootstrap/components :: referenceBox('', 'component.base-page.anchor.noButtonLook.code', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components :: anchor(@{/public/show/page?id=home}, 'navBar.home', false, '')}"></div>
	</div>

	<div th:fragment="box-buttonLook" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox('', 'component.base-page.anchor.buttonLook.code', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components :: anchor(@{/public/show/page?id=home}, 'navBar.home', true, '')}"></div>

		<div th:replace="~{bootstrap/components :: paragraphWithSubtitle('options', 'component.base-page.anchor.anchor.options.paragraph', '')}"></div>
		<table class="table table-striped text-nowrap table-bordered">
			<tr th:replace="~{bootstrap/components :: staticTableHeaderWithLine(${ {'option', '型', '説明'} }, '')}"></tr>
			<tr th:replace="~{bootstrap/components :: staticTableBodyWithLines(${ {
					{ 'backgroundColorClass', 'string', 'Specifies background-color with class name. ex. bg-secondary.'}
			} }, '')}"></tr>
		</table>
		<div th:replace="~{bootstrap/components :: referenceBox('', 'component.base-page.anchor.buttonLook.options.code', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components :: anchor(@{/public/show/page?id=home}, 'navBar.home', true, 'backgroundColorClass=bg-secondary')}"></div>
	</div>

</body>
</html>
