<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{bootstrap/page-general-wide}"
		th:with="title=#{PT_GENERAL_FEATURES_TITLE}
				, titleDesc=#{PT_GENERAL_FEATURES_TITLE_DESC}
		">
<body>
	<div layout:fragment="form-content" th:remove="tag">
		<div th:replace="~{bootstrap/components :: box(~{::box-1}, #{PT_GENERAL_FEATURES_SUCCESS_MSG_SUBTITLE}, #{PT_GENERAL_FEATURES_SUCCESS_MSG_SUBTITLE_DESC}, '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-2}, #{PT_GENERAL_FEATURES_APP_EXCEPTION_SUBTITLE}, #{PT_GENERAL_FEATURES_APP_EXCEPTION_SUBTITLE_DESC}, '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-3}, #{PT_GENERAL_FEATURES_EXCLUSIVE_CONTROL_SUBTITLE}, #{PT_GENERAL_FEATURES_EXCLUSIVE_CONTROL_SUBTITLE_DESC}, '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-4}, #{PT_GENERAL_FEATURES_TRANSACTION_TOKEN_SUBTITLE}, #{PT_GENERAL_FEATURES_TRANSACTION_TOKEN_SUBTITLE_DESC}, '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-5}, #{PT_GENERAL_FEATURES_VALIDATION_SUBTITLE}, #{PT_GENERAL_FEATURES_VALIDATION_SUBTITLE_DESC}, '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-6}, #{PT_GENERAL_FEATURES_WARNING_SUBTITLE}, #{PT_GENERAL_FEATURES_WARNING_SUBTITLE_DESC}, '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-7}, #{PT_GENERAL_FEATURES_REDIRECT_PATH_SUBTITLE}, #{PT_GENERAL_FEATURES_REDIRECT_PATH_SUBTITLE_DESC}, '')}"></div>
	</div>
	
	<div th:fragment="box-1" th:remove="tag">
		<div th:replace="~{bootstrap/components-input :: submitButton('successMsg', #{PT_GENERAL_FEATURES_SUCCESS_MSG_BUTTON}, '')}"></div>
	</div>

	<div th:fragment="box-2" th:remove="tag">
		<div th:replace="~{bootstrap/components-input :: submitButton('appException', #{PT_GENERAL_FEATURES_APP_EXCEPTION_BUTTON}, '')}"></div>
	</div>

	<div th:fragment="box-3" th:remove="tag">
		<div th:replace="~{bootstrap/components-input :: submitButton('exclusiveControlFile', #{PT_GENERAL_FEATURES_EXCLUSIVE_CONTROL_BUTTON}, '')}"></div>
	</div>

	<div th:fragment="box-4" th:remove="tag">
	</div>

	<div th:fragment="box-5" th:remove="tag">
		<div th:replace="~{bootstrap/components-input :: text('validationTest', '')}"></div>
		<div th:replace="~{bootstrap/components-input :: submitButton('validationTrue', #{PT_GENERAL_FEATURES_VALIDATION_TRUE_BUTTON}, '')}"></div>
		<div th:replace="~{bootstrap/components-input :: submitButton('validationFalse', #{PT_GENERAL_FEATURES_VALIDATION_FALSE_BUTTON}, '')}"></div>
	</div>

	<div th:fragment="box-6" th:remove="tag">
		<div th:replace="~{bootstrap/components-input :: submitButton('warning', #{PT_GENERAL_FEATURES_WARNING_BUTTON}, '')}"></div>
	</div>

	<div th:fragment="box-7" th:remove="tag">
		<div th:replace="~{bootstrap/components-input :: submitButton('redirectOnSuccess', #{PT_GENERAL_FEATURES_REDIRECT_ON_SUCCESS_BUTTON}, '')}"></div>
		<div th:replace="~{bootstrap/components-input :: submitButton('redirectOnAppException', #{PT_GENERAL_FEATURES_REDIRECT_ON_FAIL_BUTTON}, '')}"></div>
	</div>
</body>
</html>
