<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<!--/* navbar */-->
	<div th:fragment="nav-bar-public" th:remove="tag">
		<div th:replace="~{bootstrap/components :: navbarMenuItem(
				@{/public/showMarkdown/page(id='home',lang=${lang})}, #{navBar.home}, '')}"></div>

		<div th:replace="~{bootstrap/components :: navbarSubMenu(
				#{navBar.core}, ~{::navbarCore}, '')}"></div>
		<th:block th:if="false"><div th:fragment="navbarCore" th:remove="tag">

			<div th:replace="~{bootstrap/components :: navbarDropDownSubMenu(
					#{navBar.core.util}, ~{::navbarCoreUtil}, '')}"></div>
			<th:block th:if="false"><div th:fragment="navbarCoreUtil" th:remove="tag">
				<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
						@{/public/showMarkdown/page(id='core/util/mail-util',lang=${lang})},
						#{navBar.core.util.mailUtil}, '')}"></div>
			</div></th:block>

		</div></th:block>

		<div th:replace="~{bootstrap/components :: navbarSubMenu(
				#{navBar.rest}, ~{::navbarRest}, '')}"></div>
		<th:block th:if="false"><div th:fragment="navbarRest" th:remove="tag">

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(id='rest/overview',lang=${lang})},
					#{navBar.rest.overview}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(id='rest/setup',lang=${lang})},
					#{navBar.rest.setup}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(id='rest/quickstart',lang=${lang})},
					#{navBar.rest.quickstart}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(id='rest/exception-handling',lang=${lang})},
					#{navBar.rest.exceptionHandling}, '')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuDivider('')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuGroupLabel(
					#{navBar.rest.grp.security}, '')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(id='rest/security/public-endpoints',lang=${lang})},
					#{navBar.rest.security.publicEndpoints}, '')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownSubMenu(
					#{navBar.rest.security.apiKey}, ~{::navbarRestApiKey}, '')}"></div>
			<th:block th:if="false"><div th:fragment="navbarRestApiKey" th:remove="tag">
				<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
						@{/public/showMarkdown/page(id='rest/security/api-key/overview',lang=${lang})},
						#{navBar.rest.apiKey.overview}, '')}"></div>
				<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
						@{/public/showMarkdown/page(id='rest/security/api-key/comparison-modes',lang=${lang})},
						#{navBar.rest.apiKey.comparisonModes}, '')}"></div>
			</div></th:block>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(id='rest/security/custom-endpoints',lang=${lang})},
					#{navBar.rest.security.customEndpoints}, '')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuDivider('')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuGroupLabel(
					#{navBar.rest.grp.other}, '')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(id='rest/alive-check-endpoint',lang=${lang})},
					#{navBar.rest.aliveCheckEndpoint}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(id='rest/config-endpoints',lang=${lang})},
					#{navBar.rest.configEndpoints}, '')}"></div>

		</div></th:block>

		<div th:replace="~{bootstrap/components :: navbarSubMenu(
				#{navBar.batch}, ~{::navbarBatch}, '')}"></div>
		<th:block th:if="false"><div th:fragment="navbarBatch" th:remove="tag">

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(id='batch/overview',lang=${lang})},
					#{navBar.batch.overview}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(id='batch/setup',lang=${lang})},
					#{navBar.batch.setup}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(id='batch/quickstart',lang=${lang})},
					#{navBar.batch.quickstart}, '')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuDivider('')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuGroupLabel(
					#{navBar.batch.grp.jobStep}, '')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(id='batch/job-and-step-builders',lang=${lang})},
					#{navBar.batch.jobAndStepBuilders}, '')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuDivider('')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuGroupLabel(
					#{navBar.batch.grp.crossCutting}, '')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(id='batch/logging',lang=${lang})},
					#{navBar.batch.logging}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(id='batch/exception-handling',lang=${lang})},
					#{navBar.batch.exceptionHandling}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(id='batch/current-execution-context',lang=${lang})},
					#{navBar.batch.currentExecutionContext}, '')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuDivider('')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuGroupLabel(
					#{navBar.batch.grp.other}, '')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(id='batch/system-error-job',lang=${lang})},
					#{navBar.batch.systemErrorJob}, '')}"></div>

		</div></th:block>
	</div>

	<div th:fragment="nav-bar-public-right" th:remove="tag">
		<div th:replace="~{markdown/parts :: langSwitchNavItem}"></div>
	</div>

	<!--/* footer */-->
	<div th:fragment="footer-string" th:remove="tag">
			© [[${#temporals.year(#temporals.createNow())}]] ecuacion consulting  All rights reserved.
	</div>

</body>
</html>
