<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{bootstrap/page-general-wide}"
		th:with="title='component.input.title'
				, multipart=true
				, formMethod='post'">

<body>

	<div layout:fragment="top-space" th:remove="tag">
		<div th:replace="~{bootstrap/components :: paragraph('component.input.paragraph-1', '')}"></div>
	</div>
	
	<div layout:fragment="form-content" th:remove="tag">
	
		<div th:replace="~{bootstrap/components :: box(~{::box-inputText}, 'inputText', '', '')}"></div>
		<!--/* 
		<div th:replace="~{bootstrap/components :: box(~{::box-inputPassword}, 'inputPassword', '', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputHidden}, 'inputHidden', '', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputNumber}, 'inputNumber', '', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputYearMonth}, 'inputYearMonth', '', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputDate}, 'inputDate', '', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputTime}, 'inputTime', '', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputTextArea}, 'inputTextArea', '', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputSwitch}, 'inputSwitch', '', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputCheckboxes}, 'inputCheckboxes', '', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputSelect}, 'inputSelect', '', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputSelectFromEnum}, 'inputSelectFromEnum', '', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputFile}, 'inputFile', '', '')}"></div>
		 */-->
		<div th:replace="~{bootstrap/components :: box(~{::box-inputTakenPhotoMobile}, 'inputTakenPhotoMobile', '', '')}"></div>
		
		<div th:replace="~{bootstrap/components :: commonPrimaryButton('button', 'button', '')}"></div>
	</div>

	<div th:fragment="box-inputText" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox('', 'component.components.inputText', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components :: inputText('inputText', '')}"></div>
	</div>
<!--/* 
	<div th:fragment="box-inputPassword" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox('input.html', 'component.components.inputPassword', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components :: inputPassword('inputPassword', '')}"></div>
	</div>

	<div th:fragment="box-inputHidden" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox('input.html', 'component.components.inputHidden', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components :: inputHidden('inputHidden', '')}"></div>
	</div>

	<div th:fragment="box-inputNumber" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox('input.html', 'component.components.inputNumber', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components :: inputNumber('inputNumber', '')}"></div>
	</div>

	<div th:fragment="box-inputYearMonth" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox('input.html', 'component.components.inputYearMonth', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components :: inputYearMonth('inputYearMonth', '')}"></div>
	</div>

	<div th:fragment="box-inputDate" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox('input.html', 'component.components.inputDate', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components :: inputDate('inputDate', '')}"></div>
	</div>

	<div th:fragment="box-inputTime" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox('input.html', 'component.components.inputTime', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components :: inputTime('inputTime', '')}"></div>
	</div>

	<div th:fragment="box-inputTextArea" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox('input.html', 'component.components.inputTextArea', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components :: inputTextArea('inputTextArea', '')}"></div>
	</div>

	<div th:fragment="box-inputSwitch" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox('input.html', 'component.components.inputSwitch', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components :: inputSwitch('inputSwitch', '')}"></div>
	</div>

	<div th:fragment="box-inputCheckboxes" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox('input.html', 'component.components.inputCheckboxes', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components :: inputCheckboxes('inputCheckboxes', '')}"></div>
	</div>

	<div th:fragment="box-inputSelect" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox('input.html', 'component.components.inputSelect', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components :: inputSelect('inputSelect', '')}"></div>
	</div>

	<div th:fragment="box-inputSelectFromEnum" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox('input.html', 'component.components.inputSelectFromEnum', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components :: inputSelectFromEnum('inputSelectFromEnum', '')}"></div>
	</div>

	<div th:fragment="box-inputFile" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox('input.html', 'component.components.inputFile', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components :: inputFile('inputFile', '')}"></div>
	</div>
 */-->
 
	<div th:fragment="box-inputTakenPhotoMobile" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox('', 'component.components.inputTakenPhotoMobile', '')}"></div>
		<div class="mt-5"></div>
		<img th:src="*{input.previousTakenPhotoMobileBase64}">
		<div th:replace="~{bootstrap/components :: inputTakenPhotoMobile('inputTakenPhotoMobile', '')}"></div>
  	</div>
  	
</body>
</html>
