<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{bootstrap/page-general-wide}"
		th:with="title='component.input.title'
				, multipart=true
				, formMethod='post'">

<body>

	<div layout:fragment="top-space" th:remove="tag">
		<div th:replace="~{bootstrap/components :: paragraph('component.input.paragraph-1', '')}"></div>
	</div>
	
	<div layout:fragment="form-content" th:remove="tag">
		<div th:replace="~{bootstrap/components :: commonPrimaryButton('button', 'button', '')}"></div>
	
		<div th:replace="~{bootstrap/components :: box(~{::box-inputText}, 'inputText', '', '')}"></div>
		<!--/* 
		<div th:replace="~{bootstrap/components :: box(~{::box-inputPassword}, 'inputPassword', '', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputHidden}, 'inputHidden', '', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputNumber}, 'inputNumber', '', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputYearMonth}, 'inputYearMonth', '', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputDate}, 'inputDate', '', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputTime}, 'inputTime', '', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputTextArea}, 'inputTextArea', '', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputSwitch}, 'inputSwitch', '', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputCheckboxes}, 'inputCheckboxes', '', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputSelect}, 'inputSelect', '', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputSelectFromEnum}, 'inputSelectFromEnum', '', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputFile}, 'inputFile', '', '')}"></div>
		 */-->
		<div th:replace="~{bootstrap/components :: box(~{::box-inputTakenPhoto}, 'inputTakenPhoto', '', '')}"></div>
	
	</div>

	<div th:fragment="box-inputText" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox('input.html', 'component.components.inputText', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components :: inputText('inputText', '')}"></div>
	</div>
<!--/* 
	<div th:fragment="box-inputPassword" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox('input.html', 'component.components.inputPassword', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components :: inputPassword('inputPassword', '')}"></div>
	</div>

	<div th:fragment="box-inputHidden" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox('input.html', 'component.components.inputHidden', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components :: inputHidden('inputHidden', '')}"></div>
	</div>

	<div th:fragment="box-inputNumber" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox('input.html', 'component.components.inputNumber', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components :: inputNumber('inputNumber', '')}"></div>
	</div>

	<div th:fragment="box-inputYearMonth" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox('input.html', 'component.components.inputYearMonth', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components :: inputYearMonth('inputYearMonth', '')}"></div>
	</div>

	<div th:fragment="box-inputDate" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox('input.html', 'component.components.inputDate', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components :: inputDate('inputDate', '')}"></div>
	</div>

	<div th:fragment="box-inputTime" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox('input.html', 'component.components.inputTime', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components :: inputTime('inputTime', '')}"></div>
	</div>

	<div th:fragment="box-inputTextArea" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox('input.html', 'component.components.inputTextArea', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components :: inputTextArea('inputTextArea', '')}"></div>
	</div>

	<div th:fragment="box-inputSwitch" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox('input.html', 'component.components.inputSwitch', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components :: inputSwitch('inputSwitch', '')}"></div>
	</div>

	<div th:fragment="box-inputCheckboxes" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox('input.html', 'component.components.inputCheckboxes', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components :: inputCheckboxes('inputCheckboxes', '')}"></div>
	</div>

	<div th:fragment="box-inputSelect" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox('input.html', 'component.components.inputSelect', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components :: inputSelect('inputSelect', '')}"></div>
	</div>

	<div th:fragment="box-inputSelectFromEnum" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox('input.html', 'component.components.inputSelectFromEnum', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components :: inputSelectFromEnum('inputSelectFromEnum', '')}"></div>
	</div>

	<div th:fragment="box-inputFile" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox('input.html', 'component.components.inputFile', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components :: inputFile('inputFile', '')}"></div>
	</div>
 */-->
 
	<div th:fragment="box-inputTakenPhoto" th:remove="tag">
		<video id="video" width="320" height="240" autoplay muted></video>
		<canvas id="canvas" width="320" height="240"></canvas>
		<img id="photo" src="#" alt="taken photo">
		<input type="hidden" id="takenPhoto" name="input.inputTakenPhoto" th:value="*{input.inputTakenPhoto}">
		<div class="mt-2"></div>
		<button id="allowance" type="button" style="vertical-align: bottom;" class="btn btn-sm btn-color-btn text-white bg-gradient">撮影画面表示</button>
		<button id="capture" type="button" style="vertical-align: center;" class="btn btn-sm btn-color-btn text-white bg-gradient">撮影</button>
		<button id="recapture" type="button" style="vertical-align: bottom;" class="btn btn-sm btn-color-btn text-white bg-gradient">再撮影</button>
	
		<script>
			const video = document.getElementById('video');
			const canvas = document.getElementById('canvas');
			const photo = document.getElementById('photo');
			const hidden = document.getElementById('takenPhoto');
			const allowanceButton = document.getElementById('allowance');
			const captureButton = document.getElementById('capture');
			const recaptureButton = document.getElementById('recapture');
			let stream;
	
			video.style.display = 'none';
			canvas.style.display = 'none';
			photo.style.display = 'none';
			captureButton.style.display = 'none';
			recaptureButton.style.display = 'none';
			
			if (hidden.value != "") {
				photo.style.display = 'flex';
				photo.setAttribute('src', hidden.value);
			}
			
			// allowanceボタンが押された時の処理
			allowanceButton.addEventListener('click', function() {
				// カメラへのアクセス許可を要求
				navigator.mediaDevices.getUserMedia({ video: true })
					.then(function(mediaStream) {
						stream = mediaStream;
						video.srcObject = stream;
						video.onloadedmetadata = function(e) {
						  video.play();
						};
	
						// 撮影画面表示の変更
						video.style.display = 'flex';
						photo.style.display = 'none';
						// ボタンの表示を変更
						allowanceButton.style.display = 'none';
						captureButton.style.display = 'flex';
						
						// canvasから画像データを取得
						photo.setAttribute('src', '');
						hidden.value = '';
					})
					.catch(function(err) {
						console.log("カメラへのアクセスエラー: " + err);
					});
			});
	
			// 撮影ボタンがクリックされた時の処理
			captureButton.addEventListener('click', function() {
				const context = canvas.getContext('2d');
				context.drawImage(video, 0, 0, canvas.width, canvas.height);
				 
				// 撮影画面表示の変更
				video.style.display = 'none';
				photo.style.display = 'flex';
				// ボタンの表示を変更
				captureButton.style.display = 'none';
				recaptureButton.style.display = 'inline-block';
				// canvasから画像データを取得
				photo.setAttribute('src', canvas.toDataURL('image/jpeg'));
				hidden.value = canvas.toDataURL('image/jpeg');
			});
	
			// 再撮影ボタンがクリックされた時の処理
			recaptureButton.addEventListener('click', function() {
				const context = canvas.getContext('2d');
				context.drawImage(video, 0, 0, canvas.width, canvas.height);

				// 撮影画面表示の変更
				video.style.display = 'flex';
				photo.style.display = 'none';
				// ボタンの表示を変更
				captureButton.style.display = 'inline-block';
				recaptureButton.style.display = 'none';
				
				// canvasから画像データを取得
				photo.setAttribute('src', '');
				hidden.value = '';
			});
	  </script>
  
  	</div>
  	
</body>
</html>
