<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{bootstrap/page-base-wide}"
		data-show-page-login-state="public"
		th:with="title='component.kindsOfComponents.title'">

<body>

	<div layout:fragment="base-content" th:remove="tag">
		<div th:replace="~{bootstrap/components :: paragraph('component.kindsOfComponents.paragraph-1', '')}"></div>
		<br>
		<table class="table table-striped text-nowrap table-bordered">
			<tr th:replace="~{bootstrap/components :: staticTableHeaderWithLine(${ {'component.kindsOfComponents.availablePattern', 'component.kindsOfComponents.kind', 'component.kindsOfComponents.examples', 'component.kindsOfComponents.description'} }, '')}"></tr>
			<tr th:replace="~{bootstrap/components :: staticTableBodyWithLines(
				${ {
				 		{{'base-page components', 'rowspan=6'}, 
				 			'message', 'title, paragraph, referenceBox, ...', 'component.kindsOfComponents.messageDisplaying'}, 
			 			{'table', 'simpleTableHeader, ...', 'component.kindsOfComponents.table'}, 
			 			{'shape', 'horizontalLine, ...', 'component.kindsOfComponents.shape'},
			 			{'navbar', 'navbarMenuItem, navbarSubMenu, ...', 'component.kindsOfComponents.navbar'}, 
				 		{'base-page button', 'scriptButton, ...', 'component.kindsOfComponents.basePageButton'}, 
				 		{'base-page script', 'sendZoneOffset, ...', 'component.kindsOfComponents.basePageScript'}, 
				 		

				 		{{'general-form-page components', 'rowspan=3'}, 
							'form', 'generalForm', 'component.kindsOfComponents.form'}, 
						{'general-form-page input', 'inputText, inputNumber, inputSelect, ...', 'component.kindsOfComponents.input'},
			 			{'general-form-page button', '...', 'component.kindsOfComponents.generalFormButton'},
				 		
				 		{{'search-page components', 'rowspan=4'}, 
				 			'search-page input', 'searchText, searchNumber, ...', 'component.kindsOfComponents.searchInput'},
			 			{'search-page button', 'searchButton, ...', 'component.kindsOfComponents.searchButton'},
			 			{'search result display condition', ' ...', 'component.kindsOfComponents.searchScript'},
			 			{'search-page script', 'scriptForThSortable, ...', 'component.kindsOfComponents.searchScript'},
			 			
						{{'list-page components', 'rowspan=3'}, 
				 			'list-page input', 'thText,  tdReadOnly, ...', 'component.kindsOfComponents.listInput'}, 
				 		{'list-page button', 'tdButton, ...', 'component.kindsOfComponents.listButton'}, 
				 		{'list-page script', 'scriptFortdUpdateButton, ...', 'component.kindsOfComponents.listScript'}
	 			} }, '')}">
 			</tr>
		</table>
	</div>
	
</body>
</html>
