<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{bootstrap/page-base-wide}"
		data-show-page-login-state="public"
		th:with="title='page.base.formSubmitFunctions.title'
				, titleDesc='page.base.formSubmitFunctions.paragraph'
		">
<body>

	<div layout:fragment="base-content" th:remove="tag">
		<div th:replace="~{bootstrap/components :: paragraphWithSubtitle('page.base.formSubmitFunctions.serverMessages.title', 'page.base.formSubmitFunctions.serverMessages.paragraph', '')}"></div>
		<div th:replace="~{bootstrap/components :: paragraphWithSubtitle('page.base.formSubmitFunctions.initBinder.title', 'page.base.formSubmitFunctions.initBinder.paragraph', '')}"></div>
	</div>

</body>
</html>
