<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{bootstrap/page-search-list-wide}"
		th:with="
			title=#{PT_SLE_21_PTN_LIST_TITLE},
			needsSearchPane=true,
			idFieldName='id',
			versionFieldName='version',
			itemDisplayedOnDelete='nameJapanese'
		">
<body>
	<div layout:fragment="search-content" th:remove="tag">
		<div class="row">
			<div th:replace="~{bootstrap/components-search :: text('nameJapanese', '')}"></div>
			<div th:replace="~{bootstrap/components-search :: text('nameJapaneseOld', '')}"></div>
			<div th:replace="~{bootstrap/components-search :: text('nameEnglish', '')}"></div>
			<div th:replace="~{bootstrap/components-search :: text('nameGerman', '')}"></div>
			<div th:replace="~{bootstrap/components-search :: text('nameFrench', '')}"></div>
			<div th:replace="~{bootstrap/components-search :: selectFromEnum('season', '')}"></div>
 		</div>
	</div>

	<div layout:fragment="list-table-header-content" th:remove="tag">
		<th th:replace="~{bootstrap/components-list :: headerSortable('id', '')}"></th>
		<th th:replace="~{bootstrap/components-list :: headerSortable('nameJapanese', '')}"></th>
		<th th:replace="~{bootstrap/components-list :: headerSortable('nameJapaneseOld', '')}"></th>
		<th th:replace="~{bootstrap/components-list :: headerSortable('nameEnglish', '')}"></th>
		<th th:replace="~{bootstrap/components-list :: headerSortable('nameGerman', '')}"></th>
		<th th:replace="~{bootstrap/components-list :: headerSortable('nameFrench', '')}"></th>
		<th th:replace="~{bootstrap/components-list :: headerSortable('season', '')}"></th>
		<th th:replace="~{bootstrap/components-list :: headerSortable('numberOfDays', '')}"></th>
		<th th:replace="~{bootstrap/components-list :: headerFreeText(#{jp.ecuacion.splib.web.common.button.update}, 'center')}"></th>
		<th th:replace="~{bootstrap/components-list :: headerFreeText(#{jp.ecuacion.splib.web.common.button.delete}, 'center')}"></th>
	</div>

	<div layout:fragment="list-table-body-content" th:remove="tag">
		<tr>
			<td th:replace="~{bootstrap/components-list :: readOnlyText('id', '')}"></td>
			<td th:replace="~{bootstrap/components-list :: readOnlyText('nameJapanese', '')}"></td>
			<td th:replace="~{bootstrap/components-list :: readOnlyText('nameJapaneseOld', '')}"></td>
			<td th:replace="~{bootstrap/components-list :: readOnlyText('nameEnglish', '')}"></td>
			<td th:replace="~{bootstrap/components-list :: readOnlyText('nameGerman', '')}"></td>
			<td th:replace="~{bootstrap/components-list :: readOnlyText('nameFrench', '')}"></td>
			<td th:replace="~{bootstrap/components-list :: readOnlyEnumText('season', '')}"></td>
			<td th:replace="~{bootstrap/components-list :: readOnlyNumber('numberOfDays', '')}"></td>
			<td th:replace="~{bootstrap/components-list :: updateButton(*{id}, *{version}, '')}"></td>
			<td th:replace="~{bootstrap/components-list :: deleteButton(*{id}, *{nameJapanese}, *{version}, '')}"></td>
		</tr>
	</div>

	<div layout:fragment="list-buttons-content" th:remove="tag">
		<div class="d-flex justify-content-center">
			<div th:replace="~{bootstrap/components-list :: showInsertFormButton('')}"></div>
		</div>
	</div>
</body>
</html>
