<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{bootstrap/page-general-wide}"
		th:with="title='component.firstGreeting.title'">

<body>

	<div layout:fragment="top-space" th:remove="tag">
		<div th:replace="~{bootstrap/components :: paragraph('component.firstGreeting.paragraph-1', '')}"></div>
	</div>
	
	<div layout:fragment="form-content" th:remove="tag">
		<div th:replace="~{bootstrap/components :: box(~{::box-1}, 'greetingBox.title', 'greetingBox.description', '')}"></div>
	</div>

	<div th:fragment="box-1" th:remove="tag">
		<div th:replace="~{bootstrap/components :: inputText('firstName', '')}"></div>
		<div th:replace="~{bootstrap/components :: commonPrimaryButton('greetingButton', #{greetingBox.button}, '')}"></div>
		
		<div class="mt-7"></div>
		<div th:replace="~{bootstrap/components :: inputText('message', 'readOnly')}"></div>
	</div>
</body>
</html>
