<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<!--/* navbar */-->
	<div th:fragment="nav-bar-public" th:remove="tag">
		<div th:replace="~{bootstrap/components :: navbarMenuItem(
				@{/public/showMarkdown/page(lang=${lang}, id='home')}, #{navBar.home}, '')}"></div>

		<div th:replace="~{bootstrap/components :: navbarSubMenu(
				#{navBar.concepts}, ~{::navbarConcepts}, '')}"></div>
		<th:block th:if="false"><div th:fragment="navbarConcepts" th:remove="tag">

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuGroupLabel(
					#{navBar.concepts.validationTerms}, '')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='concepts/jakarta-validation-terms')},
					#{navBar.concepts.jakartaValidationTerms}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='item/item-property-path')},
					#{navBar.concepts.itemPropertyPath}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='concepts/item-and-name-key')},
					#{navBar.concepts.itemAndNameKey}, '')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuDivider('')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuGroupLabel(
					#{navBar.concepts.violationTerms}, '')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='concepts/violations-overview')},
					#{navBar.concepts.violationsOverview}, '')}"></div>


		</div></th:block>

		<div th:replace="~{bootstrap/components :: navbarSubMenu(
				#{navBar.util}, ~{::navbarUtil}, '')}"></div>
		<th:block th:if="false"><div th:fragment="navbarUtil" th:remove="tag">

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuGroupLabel(
					#{navBar.util.grp.dataType}, '')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='util/string-util')},
					#{navBar.util.stringUtil}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='util/date-time-api-util')},
					#{navBar.util.dateTimeApiUtil}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='util/enum-util')},
					#{navBar.util.enumUtil}, '')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuDivider('')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuGroupLabel(
					#{navBar.util.grp.objectClass}, '')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='util/reflection-util')},
					#{navBar.util.reflectionUtil}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='util/property-path-util')},
					#{navBar.util.propertyPathUtil}, '')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuDivider('')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuGroupLabel(
					#{navBar.util.grp.systemResource}, '')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='util/file-util')},
					#{navBar.util.fileUtil}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='util/log-util')},
					#{navBar.util.logUtil}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='util/mail-util')},
					#{navBar.util.mailUtil}, '')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuDivider('')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuGroupLabel(
					#{navBar.util.grp.propertiesFile}, '')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownSubMenu(
					#{navBar.util.pfu}, ~{::navbarUtilPfu}, '')}"></div>
			<th:block th:if="false"><div th:fragment="navbarUtilPfu" th:remove="tag">
				<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
						@{/public/showMarkdown/page(lang=${lang}, id='properties-file-util/basic-usage')},
						#{navBar.util.pfu.basicUsage}, '')}"></div>
				<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
						@{/public/showMarkdown/page(lang=${lang}, id='properties-file-util/loading-rules')},
						#{navBar.util.pfu.loadingRules}, '')}"></div>
				<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
						@{/public/showMarkdown/page(lang=${lang}, id='properties-file-util/validation-messages')},
						#{navBar.util.pfu.validationMessages}, '')}"></div>
				<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
						@{/public/showMarkdown/page(lang=${lang}, id='properties-file-util/cross-file-reference')},
						#{navBar.util.pfu.messagesItemNames}, '')}"></div>
				<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
						@{/public/showMarkdown/page(lang=${lang}, id='properties-file-util/args')},
						#{navBar.util.pfu.args}, '')}"></div>
			</div></th:block>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuDivider('')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuGroupLabel(
					#{navBar.util.grp.coreIntegration}, '')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='item/item-util')},
					#{navBar.util.itemUtil}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='util/message-util')},
					#{navBar.util.messageUtil}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='util/exception-util')},
					#{navBar.util.exceptionUtil}, '')}"></div>

		</div></th:block>

		<div th:replace="~{bootstrap/components :: navbarSubMenu(
				#{navBar.violation}, ~{::navbarViolation}, '')}"></div>
		<th:block th:if="false"><div th:fragment="navbarViolation" th:remove="tag">

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='validation/violation')},
					#{navBar.violation.violation}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='validation/business-violation')},
					#{navBar.violation.businessViolation}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='validation/jakarta-validation')},
					#{navBar.violation.jakartaValidation}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='validation/message-parameters')},
					#{navBar.violation.messageParameters}, '')}"></div>

		</div></th:block>

		<div th:replace="~{bootstrap/components :: navbarSubMenu(
				#{navBar.itemClasses}, ~{::navbarItemClasses}, '')}"></div>
		<th:block th:if="false"><div th:fragment="navbarItemClasses" th:remove="tag">

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='item/item')},
					#{navBar.itemClasses.item}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='item/item-container')},
					#{navBar.itemClasses.itemContainer}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='messaging/item-name-key-class')},
					#{navBar.itemClasses.itemNameKeyClass}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='item/item-name-key')},
					#{navBar.mf.itemNameKeyResolution}, '')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuDivider('')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='messaging/item-name-in-message')},
					#{navBar.mf.itemNameInMessageArticle}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='messaging/collection-item-name')},
					#{navBar.mf.collectionItemNameArticle}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='messaging/item-name-path')},
					#{navBar.mf.itemNamePath}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='messaging/item-name-display')},
					#{navBar.mf.itemNameDisplayArticle}, '')}"></div>

		</div></th:block>

		<div th:replace="~{bootstrap/components :: navbarSubMenu(
				#{navBar.validator}, ~{::navbarValidator}, '')}"></div>
		<th:block th:if="false"><div th:fragment="navbarValidator" th:remove="tag">

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='validator/blank-handling')},
					#{navBar.validator.blankHandling}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='validator/standard-annotation-messages')},
					#{navBar.validator.standardAnnotationMessages}, '')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuDivider('')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuGroupLabel(
					#{navBar.validator.customValidator}, '')}"></div>

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='validator/overview')},
					#{navBar.cv.overview}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='validator/when')},
					#{navBar.cv.whenArticle}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='validator/comparison')},
					#{navBar.cv.comparisonArticle}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='validator/pattern-with-description')},
					#{navBar.cv.patternWithDescription}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='validator/field')},
					#{navBar.cv.fieldArticle}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='validator/collection')},
					#{navBar.cv.collectionArticle}, '')}"></div>

		</div></th:block>

		<div th:replace="~{bootstrap/components :: navbarSubMenu(
				#{navBar.other}, ~{::navbarOther}, '')}"></div>
		<th:block th:if="false"><div th:fragment="navbarOther" th:remove="tag">

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='other/require-annotations')},
					#{navBar.other.requireAnnotations}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='other/logging')},
					#{navBar.other.logging}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(lang=${lang}, id='other/spi')},
					#{navBar.other.spi}, '')}"></div>

		</div></th:block>
	</div>

	<div th:fragment="nav-bar-public-right" th:remove="tag">
		<div th:replace="~{markdown/parts :: langSwitchNavItem}"></div>
	</div>

	<!--/* footer */-->
	<div th:fragment="footer-string" th:remove="tag">
			© [[${#temporals.year(#temporals.createNow())}]] ecuacion consulting  All rights reserved.
	</div>

</body>
</html>
