<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{bootstrap/page-general-wide}"
		th:with="title='component.options.wayOfAddingOptions.title'">

<body>

	<div layout:fragment="top-space" th:remove="tag">
	</div>
	
	<div layout:fragment="form-content" th:remove="tag">
		<div th:replace="~{bootstrap/components :: subtitle('component.options.wayOfAddingOptions.subtitle-1', '')}"></div>
		<div th:replace="~{bootstrap/components :: paragraph('component.options.wayOfAddingOptions.paragraph-1', '')}"></div>
		<div th:replace="~{bootstrap/components :: subtitle('component.options.wayOfAddingOptions.subtitle-2', '')}"></div>
		<div th:replace="~{bootstrap/components :: paragraph('component.options.wayOfAddingOptions.paragraph-2', '')}"></div>
		<div th:replace="~{bootstrap/components :: subtitle('component.options.wayOfAddingOptions.subtitle-3', '')}"></div>
		<div th:replace="~{bootstrap/components :: paragraph('component.options.wayOfAddingOptions.paragraph-3', '')}"></div>
		<div th:replace="~{bootstrap/components :: subtitle('component.options.wayOfAddingOptions.subtitle-4', '')}"></div>
		<div th:replace="~{bootstrap/components :: paragraph('component.options.wayOfAddingOptions.paragraph-4', '')}"></div>
	</div>

	<div th:fragment="box-readOnly" th:remove="tag">
		<div th:replace="~{bootstrap/components :: inputText('firstName', 'readOnly,width=half')}"></div>
	</div>
</body>
</html>
