<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{bootstrap/page-general-wide}"
		th:with="title=#{PT_GENERAL_1_FORM_MLT_RECORDS_TITLE}
				, titleDesc=#{PT_GENERAL_1_FORM_MLT_RECORDS_TITLE_DESC}
				">

<body>
	<div layout:fragment="form-content" th:remove="tag">
		<div th:replace="~{bootstrap/components :: box(~{::box-1}, 'サーバ時間を表示', 'サーバ時間を取得・↓に表示します。', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-2}, #{PT_COMMON_GREETING_TITLE}, #{PT_COMMON_GREETING_TITLE_DESC}, '')}"></div>
	</div>

	<div th:fragment="box-1" th:remove="tag" th:with="rootRecordName='serverInfo'">
		<div th:replace="~{bootstrap/components :: inputText('timestamp', 'readOnly')}"></div>
		<div th:replace="~{bootstrap/components :: commonPrimaryButton('serverInfoBtn', #{PT_GENERAL_1_FORM_MLT_RECORDS_SERVER_TIMESTAMP_BUTTON}, '')}"></div>
	</div>

	<div th:fragment="box-2" th:remove="tag" th:with="rootRecordName='greeting'">
		<div th:replace="~{bootstrap/components :: inputText('name', '')}"></div>
		<div th:replace="~{bootstrap/components :: inputText('greetingMessage', 'readOnly')}"></div>
		<div th:replace="~{bootstrap/components :: commonPrimaryButton('greetingBtn', #{PT_COMMON_GREETING_BUTTON}, '')}"></div>
	</div>
</body>
</html>
