<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{bootstrap/page-general-wide}"
		th:with="title='component.general-form-page.input.title'
				, multipart=true
				, formMethod='post'">

<body>

	<div layout:fragment="top-space" th:remove="tag">
		<div th:replace="~{bootstrap/components :: paragraph('component.general-form-page.input.paragraph-1', '')}"></div>
	</div>
	
	<div layout:fragment="form-content" th:remove="tag" th:with="htmlFileName=input.html">
	
		<div th:replace="~{bootstrap/components :: box(~{::box-inputText}, 'inputText', '', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputPassword}, 'inputPassword', '', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputHidden}, 'inputHidden', 'component.general-form-page.input.inputHidden.comment', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputNumber}, 'inputNumber', '', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputYearMonth}, 'inputYearMonth', 'component.general-form-page.input.inputYearMonth.comment', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputDate}, 'inputDate', 'component.general-form-page.input.inputDate.comment', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputTime}, 'inputTime', 'component.general-form-page.input.inputTime.comment', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputTextArea}, 'inputTextArea', '', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputSwitch}, 'inputSwitch', '', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputCheckboxes}, 'inputCheckboxes', '', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputSelect}, 'inputSelect', 'component.general-form-page.input.inputSelect.comment-1', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputSelectWithLocale}, 'inputSelectWithLocale', 'component.general-form-page.input.inputSelectWithLocale.comment-1', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputSelectFromEnum}, 'inputSelectFromEnum', 'component.general-form-page.input.inputSelectFromEnum.comment-1', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputFile}, 'inputFile', 'component.general-form-page.input.inputFile.comment-1', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputTakenPhotoMobile}, 'inputTakenPhotoMobile', 'component.general-form-page.input.inputTakenPhotoMobile.comment-1', '')}"></div>
		<div th:replace="~{bootstrap/components :: box(~{::box-inputTakenPhotoPc}, 'inputTakenPhotoPc', 'component.general-form-page.input.inputTakenPhotoPc.comment-1', '')}"></div>
		<br>
		<div th:replace="~{bootstrap/components-input :: submitButton('button', 'submit form', '')}"></div>
		
		<div th:replace="~{bootstrap/components :: horizontalLine('')}"></div>
		
		<div th:replace="~{bootstrap/components :: title('component.xxx-page.commonOptions', '')}"></div>
		<div th:replace="~{bootstrap/components :: paragraphWithSubtitle('id', 'component.general-form-page.input.commonOptions.id', '')}"></div>
		<div th:replace="~{bootstrap/components :: referenceBox('source', 'component.general-form-page.input.commonOptions.id.code.source', '')}"></div>
		<div th:replace="~{bootstrap/components :: referenceBox('result html', 'component.general-form-page.input.commonOptions.id.code.result', '')}"></div>
		
		<div th:replace="~{bootstrap/components :: paragraphWithSubtitle('width', 'component.general-form-page.input.commonOptions.width', '')}"></div>
		<div th:replace="~{bootstrap/components :: referenceBox('', 'component.general-form-page.input.commonOptions.width.code.1', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components-input :: text('inputText', 'width=half,id=width1')}"></div>
		<div th:replace="~{bootstrap/components :: referenceBox('', 'component.general-form-page.input.commonOptions.width.code.2', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components-input :: text('inputText', 'width=8,id=width2')}"></div>

		<div th:replace="~{bootstrap/components :: paragraphWithSubtitle('readOnly', 'component.general-form-page.input.commonOptions.readOnly', '')}"></div>
		<div th:replace="~{bootstrap/components :: referenceBox('', 'component.general-form-page.input.commonOptions.readOnly.code', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components-input :: text('inputText', 'readOnly,value=(No Value)')}"></div>
		
	</div>

	<div th:fragment="box-inputText" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox(${htmlFileName}, 'component.components.inputText', '')}"></div>
		<div th:replace="~{bootstrap/components :: paragraph('component.general-form-page.input.inputText.comment', '')}"></div>
		<div th:replace="~{bootstrap/components :: referenceBox('InputController$InputRecord', 'component.components.inputText.length', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components-input :: text('inputText', '')}"></div>
		
		<div th:replace="~{bootstrap/components :: paragraphWithSubtitle('options', 'component.base-page.navbar.navbarMenuItem.options.paragraph', '')}"></div>
		<table class="table table-striped text-nowrap table-bordered">
			<tr th:replace="~{bootstrap/components :: staticTableHeaderWithLine(${ {'option', '型', '説明'} }, '')}"></tr>
			<tr th:replace="~{bootstrap/components :: staticTableBodyWithLines(${ {
					{ 'value', 'string', 'サーバの値の代わりにここで指定した値を使用。messages.properties に存在する key を指定した場合、その値が取得・表示される。'}
			} }, '')}"></tr>
		</table>
		
	</div>

	<div th:fragment="box-inputPassword" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox(${htmlFileName}, 'component.components.inputPassword', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components-input :: password('inputPassword', '')}"></div>
	</div>

	<div th:fragment="box-inputHidden" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox(${htmlFileName}, 'component.components.inputHidden', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components-input :: hidden('inputHidden', '')}"></div>
	</div>

	<div th:fragment="box-inputNumber" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox(${htmlFileName}, 'component.components.inputNumber', '')}"></div>
		<div th:replace="~{bootstrap/components :: paragraph('component.general-form-page.input.inputNumber.comment', '')}"></div>
		<div th:replace="~{bootstrap/components :: referenceBox('InputController$InputRecord', 'component.components.inputNumber.needsCommas', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components-input :: number('inputNumber', '')}"></div>
	</div>

	<div th:fragment="box-inputYearMonth" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox(${htmlFileName}, 'component.components.inputYearMonth', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components-input :: yearMonth('inputYearMonth', '')}"></div>
	</div>

	<div th:fragment="box-inputDate" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox(${htmlFileName}, 'component.components.inputDate', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components-input :: date('inputDate', '')}"></div>
	</div>

	<div th:fragment="box-inputTime" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox(${htmlFileName}, 'component.components.inputTime', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components-input :: time('inputTime', '')}"></div>
	</div>

	<div th:fragment="box-inputTextArea" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox(${htmlFileName}, 'component.components.inputTextArea', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components-input :: textArea('inputTextArea', '')}"></div>
	</div>

	<div th:fragment="box-inputSwitch" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox(${htmlFileName}, 'component.components.inputSwitch', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components-input :: switch('inputSwitch', '')}"></div>
	</div>

	<div th:fragment="box-inputCheckboxes" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox(${htmlFileName}, 'component.components.inputCheckboxes', '')}"></div>
		<div th:replace="~{bootstrap/components :: paragraph('component.general-form-page.input.inputCheckboxes.comment', '')}"></div>
		<div th:replace="~{bootstrap/components :: referenceBox('InputController$InputRecord', 'component.components.inputCheckboxes.selectionList', '')}"></div>
		<div class="mt-5"></div>
		
		<div th:replace="~{bootstrap/components-input :: checkboxes('inputCheckboxes', '')}"></div>
	</div>

	<div th:fragment="box-inputSelect" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox(${htmlFileName}, 'component.components.inputSelect', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components-input :: select('inputSelect', '')}"></div>
	</div>

	<div th:fragment="box-inputSelectWithLocale" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox(${htmlFileName}, 'component.components.inputSelectWithLocale', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components-input :: selectWithLocale('inputSelectWithLocale', '')}"></div>
	</div>

	<div th:fragment="box-inputSelectFromEnum" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox(${htmlFileName}, 'component.components.inputSelectFromEnum', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components-input :: selectFromEnum('inputSelectFromEnum', '')}"></div>
	</div>

	<div th:fragment="box-inputFile" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox(${htmlFileName}, 'component.components.inputFile', '')}"></div>
		<div th:replace="~{bootstrap/components :: paragraph('component.general-form-page.input.inputFile.comment-2', '')}"></div>
		<div th:replace="~{bootstrap/components :: referenceBox(${htmlFileName}, 'component.components.inputFile.saveFile', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components-input :: file('inputFile', '')}"></div>
	</div>
 
	<div th:fragment="box-inputTakenPhotoMobile" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox(${htmlFileName}, 'component.components.inputTakenPhotoMobile', '')}"></div>
		<div th:replace="~{bootstrap/components :: paragraph('component.general-form-page.input.inputTakenPhotoMobile.comment-2', '')}"></div>
		<div th:replace="~{bootstrap/components :: referenceBox('InputController$InputRecord', 'component.components.inputTakenPhotoMobile.registeredPhoto', '')}"></div>
		<div th:replace="~{bootstrap/components :: paragraph('component.general-form-page.input.inputTakenPhotoMobile.comment-3', '')}"></div>
		<div th:replace="~{bootstrap/components :: referenceBox('InputController$InputRecord', 'component.components.inputTakenPhotoMobile.processPicture1stPart', '')}"></div>
		<div th:replace="~{bootstrap/components :: referenceBox('InputController$InputRecord', 'component.components.inputTakenPhotoMobile.processPicture2ndPart', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components-input :: takenPhotoMobile('inputTakenPhotoMobile', '')}"></div>
  	</div>
 
	<div th:fragment="box-inputTakenPhotoPc" th:remove="tag">
		<div th:replace="~{bootstrap/components :: referenceBox(${htmlFileName}, 'component.components.inputTakenPhotoPc', '')}"></div>
		<div th:replace="~{bootstrap/components :: paragraph('component.general-form-page.input.inputTakenPhotoPc.comment-2', '')}"></div>
		<div class="mt-5"></div>
		<div th:replace="~{bootstrap/components-input :: takenPhotoPc('inputTakenPhotoPc', '')}"></div>
  	</div>

</body>
</html>
