<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{bootstrap/page-base-wide}"
		data-show-page-login-state="public"
		th:with="title='page.home.title'">

<body>
	<div layout:fragment="base-content" th:remove="tag">
		<div th:replace="~{bootstrap/components :: paragraph('page.home.paragraph-1', '')}"></div>
		<div th:replace="~{bootstrap/components :: paragraphWithSubtitle('page.home.subtitle-2', 'page.home.paragraph-2', '')}"></div>
		<div th:replace="~{bootstrap/components :: paragraphWithSubtitle('page.home.subtitle-3', 'page.home.paragraph-3', '')}"></div>
	
		<div class="table-responsive">
			<table class="table table-striped text-nowrap table-bordered">
				<div th:replace="~{bootstrap/components :: staticTableHeaderWithLine(${ {'template', 'page.home.table.explanation'} }, '')}"></div>
				<div th:replace="~{bootstrap/components :: staticTableBodyWithLines(
					${ {
					 		{'base-page template', 'page.home.table.base-page'}, 
					 		{'general-form-page template', 'page.home.table.general-page'}, 
					 		{'general-Xform[s]-page template', 'page.home.table.xforms-general-page'}, 
					 		{'extended-page template', 'page.home.table.extended-page'}
		 			} }, '')}">
	 			</div>
	 		</table>
	 	</div>
	 	
	</div>
</body>
</html>
