<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{bootstrap/page-base-wide}"
		data-show-page-login-state="public"
		th:with="title='component.components.introduction.title'">

<body>

	<div layout:fragment="base-content" th:remove="tag">
		<div th:replace="~{bootstrap/components :: paragraph('component.components.introduction.paragraph-1', '')}"></div>
		<div th:replace="~{bootstrap/components :: paragraphWithSubtitle('component.components.introduction.inputText.title', 'component.components.introduction.inputText.paragraph-1', '')}"></div>
		<div th:replace="~{bootstrap/components :: referenceBox('', 'additionOfTextbox.definitionOfFirstName', '')}"></div>
		<div th:replace="~{bootstrap/components :: paragraph('component.components.introduction.inputText.paragraph-2', '')}"></div>
	</div>

</body>
</html>
