<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{bootstrap/page-base-wide}"
		data-show-page-login-state="public"
		th:with="title='page.base.showPageController.title'
				, titleDesc='page.base.showPageController.titleDesc'
		">
<body>

	<div layout:fragment="base-content" th:remove="tag">
		<div th:replace="~{bootstrap/components :: paragraphWithSubtitle('page.base.showPageController.url.title', 'page.base.showPageController.url.paragraph', '')}"></div>
		<div th:replace="~{bootstrap/components :: paragraphWithSubtitle('page.base.showPageController.loginState.title', 'page.base.showPageController.loginState.paragraph', '')}"></div>
		<table class="table table-striped text-nowrap table-bordered">
			<tr th:replace="~{bootstrap/components :: staticTableHeaderWithLine(${ {'loginState', 'URL path', '説明'} }, '')}"></tr>
			<tr th:replace="~{bootstrap/components :: staticTableBodyWithLines(
				${ {
				 		{{'public', 'rowspan=2'}, 
				 			'/public/show/page', 'ログインなしで閲覧可能なURL'}, 
			 			{'/public/adminShow/page', 'ログインなしで閲覧可能なURL。管理者に対する表示の場合に使用'}, 
			 			{'account', '/account/show/page', '一般ログイン状態で閲覧可能なURL'},
			 			{'admin', '/admin/show/page', '管理者ログイン状態で閲覧可能なURL'},
			 			{'ecuacion-public', '/ecuacion/public/show/page', '本 library が提供する、ログインなしで閲覧可能なURL'}
				} }, '')}">
 			</tr>
		</table>
		
		<div th:replace="~{bootstrap/components :: paragraphWithSubtitle('page.base.showPageController.security.title', 'page.base.showPageController.security.paragraph', '')}"></div>
	</div>

</body>
</html>
