<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<!--/* navbar */-->
	<div th:fragment="nav-bar-public" th:remove="tag">
		<div th:replace="~{bootstrap/components :: navbarMenuItem(
				@{/public/showMarkdown/page(id='home',lang=${lang})}, #{navBar.home}, '')}"></div>

		<div th:replace="~{bootstrap/components :: navbarSubMenu(
				#{navBar.cli}, ~{::navbarCli}, '')}"></div>
		<th:block th:if="false"><div th:fragment="navbarCli" th:remove="tag">

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(id='code-generator-cli/overview',lang=${lang})},
					#{navBar.cli.overview}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(id='code-generator-cli/setup',lang=${lang})},
					#{navBar.cli.setup}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(id='code-generator-cli/quickstart',lang=${lang})},
					#{navBar.cli.quickstart}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(id='code-generator-cli/config',lang=${lang})},
					#{navBar.cli.config}, '')}"></div>

		</div></th:block>

		<div th:replace="~{bootstrap/components :: navbarSubMenu(
				#{navBar.web}, ~{::navbarWeb}, '')}"></div>
		<th:block th:if="false"><div th:fragment="navbarWeb" th:remove="tag">

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(id='code-generator-web/overview',lang=${lang})},
					#{navBar.web.overview}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(id='code-generator-web/setup',lang=${lang})},
					#{navBar.web.setup}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(id='code-generator-web/quickstart',lang=${lang})},
					#{navBar.web.quickstart}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(id='code-generator-web/config',lang=${lang})},
					#{navBar.web.config}, '')}"></div>

		</div></th:block>

		<div th:replace="~{bootstrap/components :: navbarSubMenu(
				#{navBar.excel}, ~{::navbarExcel}, '')}"></div>
		<th:block th:if="false"><div th:fragment="navbarExcel" th:remove="tag">

			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(id='excel-format/overview',lang=${lang})},
					#{navBar.excel.overview}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(id='excel-format/quickstart',lang=${lang})},
					#{navBar.excel.quickstart}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(id='excel-format/general-settings',lang=${lang})},
					#{navBar.excel.generalSettings}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(id='excel-format/data-type-sheet',lang=${lang})},
					#{navBar.excel.dataTypeSheet}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(id='excel-format/db-definition-sheet',lang=${lang})},
					#{navBar.excel.dbDefinitionSheet}, '')}"></div>
			<div th:replace="~{bootstrap/components :: navbarDropDownMenuItem(
					@{/public/showMarkdown/page(id='excel-format/enum-sheet',lang=${lang})},
					#{navBar.excel.enumSheet}, '')}"></div>

		</div></th:block>
	</div>

	<div th:fragment="nav-bar-public-right" th:remove="tag">
		<div th:replace="~{markdown/parts :: langSwitchNavItem}"></div>
	</div>

	<!--/* footer */-->
	<div th:fragment="footer-string" th:remove="tag">
			© [[${#temporals.year(#temporals.createNow())}]] ecuacion consulting  All rights reserved.
	</div>

</body>
</html>
